<div class="toolbar" role="banner">
    <a href="/">
        <div class="wrapper">
            <img class="floatleft" width="45" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
            />
            <div>
                <h1 class="title">{{title}}</h1>
            </div>
        </div>
    </a>
</div>

<div class="container">
    <div class=".buttons">
        <div class="btn-group btn-m2 funcbtn" aria-label="Dodaj naucni rad ">
            <button type="button" class="btn redbtn" (click)="redirect( '/scientificPaper/add') ">Add paper</button>
        </div>
        <div class="btn-group btn-m2 funcbtn" role="group " aria-label="Pretraga ">
            <button type="button" class="btn redbtn" (click)="redirect( '/scientificPapers/search') ">Search papers</button>
        </div>
    </div>
</div>

<div class="wrapper">
    <div class="centercontent">
        <router-outlet></router-outlet>
    </div>
</div>